<br>
<br>
<!-- CABECERA PRINCIPAL -->
<div class="container">
  <div class="row">
    <div class="col-sm">
      <h3>
        {{ this.project?.name }}
      </h3>
    </div>
    <div class="col-sm">
    </div>
    <div class="col-sm">

      <!-- BOTON MATRIZ -->
      <button class="btn btn-success mx-2" [routerLink]="['/heatMap']">
        Matriz de Calor
      </button>

      <!-- BOTON HISTORIAL -->
      <button
      type="button"
      class="btn btn-primary"
      (click)="createProjectModal.show = true"
      >
        <fa-icon [icon]="faPenToSquare"></fa-icon> Editar Proyecto
      </button>
    </div>
  </div>
  <br>
</div>

<div class="d-grid">
  <app-edit-project #createProjectModal [project]="project"></app-edit-project>
</div>
<div class="d-grid">
  <app-risk-table
    [projectId]="this.project?.id"
    [risks]="this.risks"
  ></app-risk-table>
</div>